.home {
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: none;
  
    .container {
      border: 1px solid white;
      width: 65%;
      height: 80%;
      display: flex;
      overflow: hidden;

      .chat {
        flex: 2;
  
        .chatInfo {
          height: 50px;
          background-color: #5d5b8d;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          color: lightgray;
        }
  
        .chatIcons {
          display: flex;
          gap: 10px;
  
          img {
            height: 24px;
            cursor: pointer;
          }
        }
  
        .input {
          height: 50px;
          background-color: white;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          input {
            width: 100%;
            border: none;
            outline: none;
            color: #2f2d52;
            font-size: 18px;
  
            &::placeholder {
              color: lightgray;
            }
          }
  
          .send {
            display: flex;
            align-items: center;
            gap: 10px;
  
            img {
              height: 24px;
              cursor: pointer;
            }
  
            button {
              border: none;
              padding: 10px 15px;
              color: white;
              background-color: #8da4f1;
              cursor: pointer;
            }
          }
        }
      }
    }
  }